[Desktop Entry]
Version=1.0
Name=clearcrash
Exec=/usr/bin/x-terminal-emulator -e "/opt/clearcrash/clearcrashscript.sh"
Terminal=true
X-MultipleArgs=false
Type=Application
Icon=/opt/clearcrash/clearcrash.png
Categories=GNOME;GTK;Development;
Name[en_GB]=clearcrash
